extends ./template/revealjs.jade

block title
  title Learning from AWS Summit 2015

block slides
  section
    h1 first slide
    p hello

  section
    h2 second slide
    p aloha

  section
    section(data-background="img/aws2015_key_points.png")

