doctype html
html(lang='en')
  head
    block title
      title Default presentation title

    meta(charset='utf-8')
    meta(name="description" content="Presentation Slides")
    meta(name="author" content="Oscar Kuo")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

    link(rel="stylesheet" href="css/reveal.css")
    link(rel="stylesheet" href="css/blocky.css")
    link(rel="stylesheet" href="css/theme/black.css" id="theme")
    link(rel="stylesheet" href="css/zenburn.css")

    script(src='js/mypdf.js')

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
  body
    div.reveal
      div.slides
        block slides
          h1 Default
          p slide
    script(src="js/head.min.js")
    script(src="js/reveal.js")
    script(src="js/myreveal.js")
